<article class="video_category">
  <div class="videos row">
    <% @result.each do |video| %>
      <div class="video span2">
        <%= link_to image_tag(video.small_cover_url), video %>
      </div>
    <% end %>
  </div>
</article>
