<section class="account container">
  <div class="row">
    <div class="span10 offset1">
      <form action="" class="form-horizontal">
        <header>
          <h1>Your Account</h1>
        </header>
        <fieldset>
          <div class="control-group">
            <label for="" class="control-label">Email Address</label>
            <div class="controls"><input type="email" class="span3" /></div>
          </div>
          <div class="control-group">
            <label for="" class="control-label">Password</label>
            <div class="controls"><input type="password" class="span3" /></div>
          </div>
          <div class="control-group">
            <label for="" class="control-label">Confirm Password</label>
            <div class="controls"><input type="password" class="span3" /></div>
          </div>
          <div class="control-group">
            <label for="" class="control-label">Full Name</label>
            <div class="controls"><input type="text" class="span3" /></div>
          </div>          
        </fieldset>
        <fieldset class="actions control-group">
          <div class="controls">
            <input type="submit" value="Update" class="btn" />
            <%= link_to "Cancel" %>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>