<section class="admin_add_video">
  <div class="container">
    <div class="row">
      <div class="span10 offset1">
        <form action="" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li><a href="/ui/admin_views_payments">Recent Payments</a></li>
            <li class="active"><a href="">Add a New Video</a></li>
          </ul>
          <fieldset>
            <div class="control-group">
              <label class="control-label">Title</label>
              <div class="controls">
                <input type="text" class="span3" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Category</label>
              <div class="controls">
                <select name="" id=""></select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Description</label>
              <div class="controls">
                <textarea name="" id="" rows="8" class="span6"></textarea>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Large Cover</label>
              <div class="controls">
                <span class="btn btn-file"><input type="file" /></span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Small Cover</label>
              <div class="controls">
                <span class="btn btn-file"><input type="file" /></span>
              </div>
            </div>
          </fieldset>
          <fieldset class="actions control-group">
            <div class="controls">
              <input type="submit" value="Add Video" class="btn" />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>