<section class="admin_payments">
  <div class="container">
    <div class="row">
      <div class="span10 offset1">
        <section class="payment_history">
          <ul class="nav nav-tabs">
            <li class="active"><a href="">Recent Payments</a></li>
            <li><a href="/ui/admin_add_video">Add a New Video</a></li>
          </ul>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Amount</th>
                <th>Reference ID</th>
              </tr>
            </thead>
            <tbody>
              <% 8.times do %>
                <tr>
                  <td>Jane Doe</td>
                  <td>jane@example.com</td>
                  <td>$9.99</td>
                  <td>csdgw321s-ad3</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</section>