<section class="forgot_password container">
  <div class="row">
    <div class="span10 offset1">
      <form action="" class="sign_in">
        <header>
          <h1>Forgot Password?</h1>
          <p>We will send you an email with a link that you can use to reset your password.</p>
        </header>
        <fieldset>
          <label>Email Address</label>
          <input type="email" />
        </fieldset>
        <fieldset>
          <input type="submit" value="Send Email" class="btn" />
        </fieldset>
      </form>
    </div>
  </div>
</section>