<section class="invite container">
  <div class="row">
    <div class="span10 offset1">
      <form action="" class="invite">
        <header>
          <h1>Invite a friend to join Netflix!</h1>
        </header>
        <fieldset>
          <label>Friend's Name</label>
          <input type="text" />
          <label>Friend's Email Address</label>
          <input type="email" />
          <label>Invitation Message</label>
          <textarea name="" rows="6" class="span4">Please join this really cool site!</textarea>
        </fieldset>
        <fieldset class="action">
          <input type="submit" value="Send Invitation" class="btn" />
        </fieldset>
      </form>
    </div>
  </div>
</section>
