<section class="register container">
  <div class="row">
    <div class="span10 offset1">
      <form action="" class="form-horizontal">
        <header>
          <h1>Register</h1>
        </header>
        <fieldset>
          <div class="control-group">
            <label class="control-label">Email Address</label>
            <div class="controls">
              <input type="email" class="span3" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">
              <input type="password" class="span3" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Full Name</label>
            <div class="controls">
              <input type="text" class="span3" />
            </div>
          </div>
        </fieldset>
        <fieldset class="credit_card">
          <div class="control-group">
            <label class="control-label">Credit Card Number</label>
            <div class="controls">
              <input type="text" class="span3" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Security Code</label>
            <div class="controls">
              <input type="text" class="span3" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Expiration</label>
            <div class="controls">
              <%= select_month(Date.today, {add_month_numbers: true},  class: 'span2') %>
              <%= select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4} , class: 'span1') %>
            </div>
          </div>
        </fieldset>
        <fieldset class="actions control-group">
          <div class="controls">
            <input type="submit" value="Sign Up" class="btn" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
