<section class="reset_password container">
  <div class="row">
    <div class="span10 offset1">
      <form action="">
        <header>
          <h1>Reset Your Password</h1>
        </header>
        <fieldset>
          <label>New Password</label>
          <input type="password" />
        </fieldset>
        <fieldset class="action">
          <input type="submit" value="Reset Password" class="btn" />
        </fieldset>
      </form>
    </div>
  </div>
</section>
