<section class="sign_in container">
  <div class="row">
    <div class="span10 offset1">
      <form action="">
        <header>
          <h1>Sign in</h1>
        </header>
        <fieldset>
          <label>Email Address</label>
          <input type="email" />
          <label>Password</label>
          <input type="password" />
        </fieldset>
        <fieldset class="action">
          <input type="submit" value="Sign in" class="btn" />
        </fieldset>
      </form>
    </div>
  </div>
</section>
