<section class="user container">
  <div class="row">
    <div class="span10 offset1">
      <article>
        <header>
          <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest('knwang@gmail.com'.downcase) %>?s=40" />
          <h2>Kevin Wang's video collections (8)</h2>
          <button class="btn">Follow</button>
        </header>
        <table class="table">
          <thead>
            <tr>
              <th width="30%">Video Title</th>
              <th width="15%">Genre</th>
            </tr>
          </thead>
          <tbody>
            <% 8.times do %>
              <tr>
                <td><%= link_to "Futurama" %></td>
                <td><%= link_to "TV Shows" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </article>
    </div>
  </div>
</section>
